body {
  background-color: #051f20;
  color: #daf1de;
  margin: 25px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.div1 {
  padding: flex;
  background-color: #daf1de;
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.logo {
  padding: flex;
  justify-items: center;
  align-items: center;
  border-radius: 90%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.div2 {
  display: flex;
  padding: flex;
  justify-content: center;
  margin-top: 9rem;
}

#geoBtn {
  padding: flex;
  display: flex;
  left: 20px;
  top: 9%;
  font-size: 1rem;
  border-radius: 3rem;
  border: none;
  width: 15rem;
  height: 3rem;
  flex-shrink: 0;
  background-color: #051f20;
  color: #fffcfc;
  font-weight: bold;
}

#geoBtn:hover {
  background-color: #daf1de;
  border: 0.2rem solid #000;
  border-radius: 3rem;
  color: #000;
}

#searchBtn {
  padding: 8px 14px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #daf1de;
  color: #000;
  font-weight: bold;
  margin-left: 8px;
}
#search {
  padding: 8px 14px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #daf1de;
  color: #000000;
  font-weight: bold;
  margin-left: 8px;
}
